@{
    ViewData["Title"] = "Hello";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> StoreMagic<a href="https://youtu.be/QX43QTYyV-8">Gracias por Escojer nuestra pagian Favorita</a>. </p>
</div>
